{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "commonjs": true
  },
  "globals": {
    "Providers": true,
    "window": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.*"
        ]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "map": [
          [
            "@utils",
            "./js/utils"
          ],
          [
            "@pages",
            "./js/pages"
          ],
          [
            "@components",
            "./js/components"
          ],
          [
            "@locales",
            "../../../config/locales/index.js"
          ]
        ]
      }
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/explicit-module-boundary-types": [
          "error"
        ]
      }
    }
  ]
}
